/* styles.css */
.floating-image {
    position: relative;
    animation: floatAnimation 6s ease-in-out infinite;
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  